<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Piano loco</title>
</head>

<body>
    <div>
        <button ontouchstart="playNote()" ontouchend="stopNote()" id="boton" style="font-size: 10rem;">PRUEBA</button>
    </div>

    <script src="static/Tone.js"></script>

    <script>
        // Tone.Synth is a basic synthesizer with a single oscillator
        const synth = new Tone.Synth();
        // Set the tone to sine
        synth.oscillator.type = "sine";
        // connect it to the master output (your speakers)
        synth.toMaster();

        function playNote() {
            synth.triggerAttack("C4");
        }

        function stopNote() {
            synth.triggerRelease();
        }
    </script>
</body>
<style>
</style>

</html>