<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Piano loco</title>
</head>

<body>
    <div>
        <div style="margin-bottom: 6rem;margin-top:2rem;text-align: center;">
            <span style="font-size: 5rem;"> Activar sonido</span>
            <input id="activar-sonido" ontouchstart="activarSonido()" type="checkbox"
                style="height:5rem;width:5rem;vertical-align: text-bottom;">
        </div>
        <div style="text-align: center;">
            <button class="noselect" ontouchstart="playNote()" ontouchend="stopNote()" id="boton"
                style="font-size: 14rem;">PRUEBA</button>
        </div>
    </div>

    <script src="static/Tone.js"></script>

    <script>

        let synth

        function activarSonido() {
            const checkbox = document.getElementById("activar-sonido")
            checkbox.disabled = true
            checkbox.checked = true
            synth = new Tone.Synth()
            synth.oscillator.type = "sine";
            synth.volume.value = 20;
            synth.toMaster();
        }

        function playNote() {
            synth.triggerAttack("C4");
        }

        function stopNote() {
            synth.triggerRelease()
        }

    </script>
</body>
<style>
    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    }
</style>

</html>